<section class="skills" id="skills">
  <div class="max-width">
    <h2 class="title">My skills</h2>
  <div class="skill-content">
    <div class="column left">
      <div class="text">
       My creative Skills & experiences.
      </div>
      <p>
        I trained for two month in Vardot company ,on responsive and modern design using CSS ,JavaScript and Bootstrap . In addition i training on back-end techniques using PHP and ajax to make CRUD system.
        now I work in ExceptionSoft company ,I worked on many projects such E-commerce and order System for the restaurant and use new technology for these projects like angular,vue,ionic and laravel to make mobile application and website

      </p>
    </div>
    <div class="column right">
      <div class="bars">
        <div class="info">
          <span>HTML:</span>
          <Span class="m">
            Very Good
          </Span>
        </div>
        <div class="info">
          <span>CSS:</span>
          <Span class="m">
            Very Good
          </Span>
        </div>
        <div class="info">
          <span>JavaScript:</span>
          <Span class="m">
            Very Good
          </Span>
        </div>

        <div class="info">
          <span>Angular:</span>
          <Span class="m">
           Good
          </Span>
        </div>
        <div class="info">
          <span>Vue Js:</span>
          <Span class="m">
             Good
          </Span>
        </div>
        <div class="info">
          <span>PHP:</span>
          <Span class="m">
            Very Good
          </Span>
        </div>
        <div class="info">
          <span>Laravel:</span>
          <Span class="m">
            Good
          </Span>
        </div>
        <div class="info">
          <span>Ionic:</span>
          <Span class="m">
            Good
          </Span>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
