<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About Me</h2>
    <div class="about-content">
<div class="column left">
  <img src="assets/IMG_0177.JPG" alt="">
</div>
      <div class="column right">
        <div class="text">
          I'm Mohammed and I'm a <span class="type"></span>

        </div>
        <p>fresh graduate who is seeking to find the opportunity to work in a challenging working environment that will encourage him to improve and learn new and necessary skills as will as motivated by the company to do his best for the sake of helping himself and the company advancement in the software development </p>
        <a href="assets/MohammedAboAishehCV.pdf" download>DownLoad CV</a>
      </div>
    </div>
  </div>

</section>
