<section class="services" id="services">
  <div class="max-width">
    <h2 class="title">Services</h2>
    <div class="services-content">
      <div class="card">
        <div class="box">
          <i class="fas fa-laptop-code"></i>
          <div class="text">Web Development</div>
          <p>I used new web technology for web development Such as:
          angular & Laravel </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-code"></i>
          <div class="text">App Development</div>
          <p>I used many technology for App development Such as:
            ionic</p>
        </div>
      </div>

    </div>
  </div>

</section>
